<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Check Out Success</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="general-body">
        <div>
            <br>
            <div class="container text-center">
                <h3>You have checked out successfully!</h3>
                <h2>Download will now begin!</h2>

                <br>
                <a href="/">
                    <button class="btn btn-primary" type="button">Click here to return to the homepage</button>
                </a>
            </div>
        </div>
    </div>
</body>
<footer class="footer">
    <hr>
    <h4>Final Project for COMP30860</h4>
    <p>Created By: Ethan Doyle, Rajat Nepal, Veronica Figueroa, Lily Greenberg, John Heinig</p>
</footer>

</html>