<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Logout Success</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>

<body>
    <div class="container text-center">
        <h3>You have Logged Out successfully!</h3>

        <h4><a href="/">Click here to go back to home page</a></h4>

    </div>

</body>
<footer class="footer">
    <hr>
    <h4>Final Project for COMP30860</h4>
    <p>Created By: Ethan Doyle, Rajat Nepal, Veronica Figueroa, Lily Greenberg, John Heinig</p>
</footer>

</html>